<section class="header1 cid-qwTXGaUGDn" id="header1-b" data-rv-view="1130">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Estás invitado!</h1>

                <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                    Cada uno de ustedes forman parte de nuestra historia. Llegó el momento del "y vivieron felices por siempre". No te lo pierdas.
                </p>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                    Favor de confirmar asistencia a los teléfonos:<br />
                    Daniel: 11-5260-0193<br />
                    Tamara: 11-4062-9265
                </p>
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-black-outline display-4" href="mailto:danotrampus@gmail.com,tamiviola@gmail.com?Subject=Confirmación%20de%20asistencia&body=Te%20confirmamos%20nuestra%20asistencia">
                        Confirmar asistencia</a>
                </div>
            </div>
        </div>
    </div>
</section>