<section class="cid-qvbxSVITWJ mbr-fullscreen" id="video-background" data-rv-view="582">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(70, 80, 82); z-index: 1;"></div>
    <div class="mbr-background-video tv">
        <div class="screen" id="tv"></div>
    </div>
    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">
            <!-- <h3 class="mbr-section-subtitle py-3 mbr-fonts-style display-2">
                <span style="font-style: normal;">Wedding Template</span>
            </h3> -->
            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1">Tamara &amp; Daniel</h1>
            <!-- <p class="mbr-text py-3 mbr-fonts-style display-5">Nos casamos!</p> -->
        </div>
    </div>
    <!-- <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">BOOTSTRAP VIDEO BACKGROUND TEMPLATE</h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Mobirise is a free bootstrap template with a clean, modern style - mobile optimized, and fully responsive. Suitable for every
                    type of small business, portfolio, one-page sites. Great as a starting point for your custom projects.
                </p>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-success display-4" href="https://mobirise.com/bootstrap-template/mobirise-free-template.zip">FREE DOWNLOAD</a>
                    <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.com/bootstrap-template/">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div> -->
</section>