<section class="header3 cid-qwTDWLSdZ0 mbr-parallax-background" id="groom" data-rv-view="1136">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <ng-content select="groom-img"></ng-content>
            </div>
            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    <ng-content select="groom-title"></ng-content>
                </h1>
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-7">
                        <ng-content select="groom-description"></ng-content>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>