<app-menu [homeOption]="{text: 'Tamara y Daniel', link:'#video-background'}" [menuOptions]="[
  {text: 'Donde', link:'#location'},
  {text: 'Regalo', link:'#gift'},
  {text: 'Confirmar asistencia', link:'#confirm'},
  {text: 'Novio', link:'#groom'},  
  {text: 'Novia', link:'#bride'},
  {text: 'Historia', link:'#story'},
  {text: 'Fotos', link:'#slide'}
]"></app-menu>
<app-video-background [youtubeVideoId]="'l8DMfBr_DMI'">
  <video-background-description>
    <app-countdown [dueDate]="'2018-10-26 00:00'" [timezone]="'America/Argentina/Buenos_Aires'"></app-countdown>
  </video-background-description>
</app-video-background>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <app-location>
        <location-title>Ceremonia</location-title>
        <location-subtitle>Parroquia San Roque</location-subtitle>
        <location-description>
          La ceremonia se celebrará a las 21:00hs en la Parroquia San Roque que se encuentra ubicada en Plaza 1160, Villa Ortuzar.
        </location-description>
        <location-image>
          <img src="assets/images/church.jpg" alt="iglesia" title="iglesia">
        </location-image>
      </app-location>
      <app-map>
        <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJP0t0RcGtXF2uHDwZFUBlb_s2gOPPF2A&q=place_id:ChIJZ_L9lHS2vJURA7eNMbbyo9M"
          allowfullscreen=""></iframe>
      </app-map>
    </div>
    <div class="col-xs-12 col-sm-6">
      <app-location>
        <location-title>Fiesta</location-title>
        <location-subtitle>Darwin Multiespacio</location-subtitle>
        <location-description>
          ¡Después de la ceremonia se viene la fiesta! Te esperamos en el salón Darwin Multiespacio, Espacio I dentro del Hipódromo
          de San Isidro.
        </location-description>
        <location-image>
          <img src="assets/images/salon.jpg" alt="salon" title="salon">
        </location-image>
      </app-location>
      <app-map>
        <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJP0t0RcGtXF2uHDwZFUBlb_s2gOPPF2A&q=place_id:ChIJS6uujzWwvJURA3IQbMtzI5k"
          allowfullscreen=""></iframe>
      </app-map>
    </div>
  </div>
</div>
<app-gift>
  <gift-title>¿Querés hacernos un regalo?</gift-title>
  <gift-description>
    Tu presencia es sin duda nuestro mayor regalo. Pero si querés obsequiarnos algo podés ayudarnos con nuestra luna de miel.</gift-description>
  <gift-description-hidden>
    Cuenta Nº: 000000050200496043 - Banco Ciudad
    <br/> CBU Nº: 0290005610000004960439
    <br/> Alias: JMP3692607ARS
    <br/> CUIT: 20-35322456-6
    <br/> Titular: Daniel Trampuss
  </gift-description-hidden>
  <gift-button-show>Ver datos bancarios</gift-button-show>
  <gift-button-hide>Ocultar datos bancarios</gift-button-hide>
</app-gift>
<app-invited [contactId]="'form1-j'"></app-invited>
<app-groom>
  <groom-img>
    <img src="assets/images/groom.jpg" alt="groom" title="groom">
  </groom-img>
  <groom-title>Acerca del novio</groom-title>
  <groom-description>Necesita sus 12 horas de sueño porque sino va a estar todo el dia chinchudo. La mañana no es lo suyo. Sin embargo ha encontrado
    su vocación, en la que si funciona sin importar los horarios porque es su pasión y lo hace feliz. Fanático de las computadoras,
    los celulares y todo lo que se enchufe a 220 o vuele. Super nerd. Inteligente. Curioso. Arregla tuti... en fin, INGENIERO.
    Vive colgado de una palmera a tal punto que una vez se olvidó de ir a buscar a la novia. Igualmente ella lo perdonó y
    se ahora casan. Tiene un corazón enorme y es capaz de darlo todo sin pedir nada a cambio. Le encanta comer pero no sabe
    hacer ni una salchicha (le pone mucha expectativa a la novia en ese tema). Es un gran amigo y un gran compañero. Con
    él, a todos lados, SIEMPRE.
  </groom-description>
</app-groom>
<app-bride>
  <bride-img>
    <img src="assets/images/bride.jpg" alt="bride" title="bride">
  </bride-img>
  <bride-title>Acerca de la novia</bride-title>
  <bride-description>
    La persona más buena, sensible y tímida que puedas conocer. Se esmera y piensa mucho en los demás. No para un segundo y hace
    mil cosas a la vez. Le encanta diseñar todo tipo de cosas y es muy creativa. Ama bailar todo el día y es lo que la hace
    más feliz, aunque no necesita nada para serlo ya que siempre se levanta con una sonrisa. Es el alma de todos los grupos
    y siempre organiza las mejores salidas! Muy aventurera, le encanta viajar y no puede esperar para conocer todo el mundo!
    (aunque en realidad solo quiere conocer todos los Disney del mundo). Como si fuera poco, con el poco tiempo que le queda,
    se encarga de dar vida a los mejores sistemas en su trabajo, es toda una INGENIERA. Es niña y adulta a la vez, tierna,
    vive a pleno y cree que descansar es perder tiempo, pelea por lo suyo y lo da todo desinteresadamente, es una montaña
    rusa de experiencias con las que nunca te podrías aburrir.
  </bride-description>
</app-bride>
<app-story [events]="[
  { date: '2009', css: 'reverse separline', description: { title: 'Nos conocimos en la facultad', body: '<i class=\'flaticon-006-wedding-contract\'></i>'} },
  { date: '3 de Diciembre 2009', css: 'reverse separline', description: { title: 'Nos pusimos de novios', body: '(Sin saber en que nos metiamos) <br/><i class=\'flaticon-030-relationship\'></i>'} },
  { date: '21 de Diciembre 2015', css: 'separline', description: { title: 'Nos recibimos', body: 'Siempre juntos y esta no fue la excepción. <br/><i class=\'flaticon-015-wedding-1\'></i>'} },
  { date: '6 de Diciembre 2017', css: 'reverse separline', description: { title: 'Propuesta <i class=\'flaticon-016-proposal-1\'></i>', body: 'Después de años compartidos en los que hemos sido muy felices decidimos que nos casamos!!! <br/><i class=\'flaticon-050-wedding-ring\'></i>'} },
  { date: '26 de Octubre 2018', css: 'separline', description: { title: 'Nos casamos y festejamos', body: 'Nos casamos en la parroquia San Roque <br><i class=\'flaticon-041-church\'></i><br> y lo festejamos en Darwin San Isidro.<br/><i class=\'flaticon-026-champagne\'></i>'} }
]">
</app-story>
<app-slide [imagesNames]="[
  'gallery-1.jpg',
  'gallery-2.jpg',
  'gallery-3.jpg',
  'gallery-4.jpg',
  'gallery-5.jpg',
  'gallery-6.jpg',
  'gallery-7.jpg',
  'gallery-8.jpg',
  'gallery-9.jpg',
  'gallery-10.jpg'
]"></app-slide>
<app-wedshoots></app-wedshoots>
<app-banner [bannerId]="1"></app-banner>
<app-copyright></app-copyright>